<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Le blog de Fred</title>
</head>
<body>
    <div>
        <h1><a href="">le blog des Filles Django</a></h1>
    </div>
    <div>
        <p>publié le 1er avril 2016 à 17:00</p>
        <h2><a href="">Mon premier post :</a></h2>
        <p>Bon, on met n'importe quoi plutôt que du latin bidon.</p>
    </div>
    <div>
        <p>publié le 1er avril 2016 à 17:10</p>
        <h2><a href="">Mon second post :</a></h2>
        <p>De nouveau, essayons d'éviter le latin de cuisine !</p>
    </div>
</body>
</html>